/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #6a11cb;
}

/* Login Container */
.login-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

/* Login Box */
.login-box {
    background-color: #eeecec;
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 0px 15px 25px rgba(0,0,0,0.2);
    text-align: center;
}

.login-box h2 {
    margin-bottom: 30px;
    color: #333;
}

/* Input Group */
.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    transition: 0.3s;
}

.input-group input:focus {
    border-color: #2575fc;
    box-shadow: 0 0 5px rgba(37, 117, 252, 0.5);
}

/* Button */
.btn {
    width: 100%;
    padding: 12px;
    background: #2575fc;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

.btn:hover {
    background: #6a11cb;
}

/* Signup Text */
.signup-text {
    margin-top: 20px;
    color: #555;
}

.signup-text a {
    color: #2575fc;
    text-decoration: none;
}

.signup-text a:hover {
    text-decoration: underline;
}